* {
    box-sizing: border-box;
}

html, body {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #bebebe;
}

body {
    background: #252525;
}

h1 {
    margin: 25px;
    font-weight: 700;
    font-size: 50pt;
    text-align: center;
}

h2 {
    margin: 25px;
    font-weight: 500;
    font-size: 20pt;
    text-align: center;
    margin-top: 100px;
    padding-right: 50px;
}

h3 {
    margin: 30px;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
    margin-top: 50px;
}

h4 {
    margin: 25px;
    font-weight: 500;
    font-size: 13pt;
    text-align: center;
    padding-right: 50px;
}

h1,
h2,
h3,
h4,
h5 {
    text-shadow: 1px 2px 2px #1a1a1a;
}

p {
    text-align: center;
    margin-inline: 250px;
    padding-right: 50px;
}

a {
    color: #638ac7;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #214c91;
}

code {
    font-family: 'Roboto Mono', monospace;
    background: #404040;
    color: #fff;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

hr {
    border: 2px solid #7c7c7c;
    border-radius: 5px;
    width: 90%;
    margin-bottom: -50px;
}

ul {
    text-align: left;
    display: table;
    margin: 0 auto;
    padding-inline: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header {
    padding-inline: 50px;
    padding-top: 10px;
}

.nest {
    margin-inline: 200px; 
}